@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
    @using Microsoft.AspNetCore.Identity
@using WebData.Data.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

}
@if(SignInManager.IsSignedIn(User))
{
  <div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    </div>
}
else
{
    
}

